<div ng-cloak id="cards-container" ng-hide="game.state === 'game ended' || game.state ==='game dissolved'">
  <div id="cards" class="hand">
    <span ng-show="winnerPicked()"></span>
    <div class="card smallest card-bg-img clickable" ng-class="getBackgroundImage(card.id)" ng-click="pickCard(card, $index)" ng-hide="showTable || isCzar()"
      ng-repeat="card in game.players[game.playerIndex].hand" ng-animate="{enter:'animated fadeInUp', leave: 'animated fadeInOut'}">
      <div class="card-icon">
        <img ng-src="{{getCardIcon(card.id)}}" class="img-responsive"/>
      </div>
      <div class="card-main-content">
        <span ng-bind-html="card.text" class="h4"></span>
        <span class="selection-number" ng-show="showFirst(card)"> 1 </span>
        <span class="selection-number" ng-show="showSecond(card)"> 2 </span>
      </div>
      <div class="card-icon">
        <img ng-src="{{getCardIcon(card.id)}}" class="img-responsive pull-right"/>
      </div>
    </div>
    <span ng-repeat="answer in game.table">
      <div class="card smallest card-bg-img clickable" ng-class="getBackgroundImage(card.id)" ng-style="pointerCursorStyle()" id="card-{{card.id}}" ng-click="pickWinning(answer)" ng-show="showTable || isCzar()"
        ng-repeat="card in answer.card" ng-animate="{enter:'animated bounceInLeft'}">
        <div class="card-icon">
          <img ng-src="{{getCardIcon(card.id)}}" class="img-responsive"/>
        </div>
        <div class="card-main-content">
          <span class="h4" ng-bind-html="card.text"></span>
          <span class="selection-number" ng-show="firstAnswer($index)"> 1 </span>
          <span class="selection-number" ng-show="secondAnswer($index)"> 2 </span>
        </div>
        <div class="card-icon">
          <img ng-src="{{getCardIcon(card.id)}}" class="img-responsive pull-right"/>
        </div>
      </div>
    </span>
  </div>
</div>

<div ng-show="game.state === 'Please wait for Czar to draw cards'">
  <div ng-show="!isCzar()">
    <h4>Wait for czar to draw next black card</h4>
  </div>
  <div ng-show="isCzar()">
    <div class="text-center">
      <div class="container">
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"></button>

        <!-- Modal -->
        <div class="modal show" id="myModal" role="dialog">
          <div class="modal-dialog">
  
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-body img-cursor">
                <p> <h4> You have been choosen as the Czar<br/>Please click on the deck to draw next black card </h4>
                  <img src="../img/black-cards.jpg" width="300" height="300" id="card" ng-click="CzarCardDraw()"/>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="info-container" ng-show="game.state === 'awaiting players'">
  <div id="inner-info">
    <h3 id="text-how-to-play" class="text-center pink-text">How To Play</h3>
    <div id="carousel-how-to-play-container" class="col-xs-12">
      <div id="carousel-how-to-play" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#carousel-how-to-play" data-slide-to="0" class="active" />
          <li data-target="#carousel-how-to-play" data-slide-to="1" />
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img
              class="center-block img-responsive"
              src="/img/how-to-play-slide1.png"
              alt="Each round has a Czar, who decides whether the cards
               chosen by other players are right or wrongf."
              />
            <div class="carousel-caption">
              <h3>All hail the Czar!</h3>
              <p>During each round of the game, a player is chosen at random
                as the game master. He/She decides whether other players
                chose rightly or not.</p>
            </div>
          </div>
          <div class="item">
            <img
              class="center-block img-responsive"
              src="/img/how-to-play-slide2.png"
              alt="When you're not the Czar, you get to choose cards for the
              Czar to accept or fail. So choose wisely."
            />
            <div class="carousel-caption">
              <h3>#YOLO...</h3>
              <p>Other players then choose cards that answer the question for that round. So, choose wisely.</p>
            </div>
          </div>
        </div>
        <span class="carousel-control left clickable" href="#carousel-how-to-play" ng-non-bindable data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" />
        </span>
        <span class="carousel-control right clickable" href="#carousel-how-to-play" ng-non-bindable data-slide="next">
          <span class="glyphicon glyphicon-chevron-right " />
        </span>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div id="game-end-container" ng-show="game.state === 'game ended' || game.state ==='game dissolved'">
  <div id="inner-info-exit">
    <div class="game-end-answer-text" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
      <h2>What would you like to do now?</h2>
      You might consider donating to charity to atone for the horrifying answers you've submitted. Donating will also place a lovely crown on your avatar's head.
    </div>
    <div class="game-end-answer-text" ng-show="game.state === 'game ended' || game.gameWinner !== -1">
      <h2>What would you like to do now?</h2>
      Help yourself to another game or help a child in need? Donating will also place a lovely crown on your avatar's head.
    </div>
    <div class="inner-text-container flexbox">
      <div class="btns-container">
        <a href="/#!/app">
          <div id="join-new-game" class="pink-bg-btn" ng-click="game.joinGame('joinNewGame')">
            Join a New Game
          </div>
        </a>
        <a href="/">
          <div id="exit-match" class="medium-gray-bg-btn discouraged-action-btn">
            Return to Lobby
          </div>
        </a>
      </div>
    </div>
  </div>

  <div id="charity-widget-container">
      <!-- This is real -->
      <a href="http://www.crowdrise.com" id="crowdriseStaticLink-fundraiser-121142" title="Fundraising Websites on Crowdrise">Fundraising Websites - Crowdrise</a>
      <script type="text/javascript" src="https://www.crowdrise.com/widgets/donate/fundraiser/121142/?callback=userDonationCb"></script>
  </div>
</div>
<div id="czar-blank-container" ng-show="isCzar() && game.table.length===0 && game.state !== 'game dissolved' && game.state !== 'awaiting players'">
  <div id="czar-blank-inner">
    You are the Card Czar. <br>
    <span id="smaller-text">Players are choosing their answers. Prepare to select a winner.</span>
  </div>
  <div id="charity-fact-container">
    <div id="charity-fact-tagline">Did you know?</div>

    <div id="charity-fact">
       {{ makeAWishFact }}
    </div>

    <div id="charity-logo-container">
      <img src="/img/make-a-wish-logo.png"/>
    </div>

  </div>
</div>
