<div ng-cloak id="cards-container" ng-hide="game.state === 'game ended' || game.state ==='game dissolved'">
  <div id="cards" class='hand'>
    <span ng-show="winnerPicked()"></span>
    <div class="card smallest card-bg-img" ng-class="getBackgroundImage($index)" ng-click="pickCard(card)" ng-hide="showTable || isCzar()"
    ng-repeat="card in game.players[game.playerIndex].hand" ng-animate="{enter:'animated fadeInUp', leave: 'animated fadeInOut'}">
        <div class="card-icon">
          <img src="{{getCardIcon($index)}}" class="img-responsive"/>
        </div>
        <div class="card-main-content">
          <span ng-bind-html="card.text" class="h4"></span>
          <span id='selection-number' ng-show="showFirst(card)"> 1 </span>
          <span id='selection-number' ng-show="showSecond(card)"> 2 </span>
        </div>
        <div class="card-icon">
          <img src="{{getCardIcon($index)}}" class="img-responsive pull-right"/>
        </div>
    </div>
    <span ng-repeat="answer in game.table">
        <div class="card smallest" ng-style="pointerCursorStyle()" id='table' ng-click="pickWinning(answer)" ng-show="showTable || isCzar()"
        ng-repeat="card in answer.card" ng-animate="{enter:'animated bounceInLeft'}">
            <span ng-bind-html="card.text"></span>
            <span id='selection-number' ng-show="firstAnswer($index)"> 1 </span>
            <span id='selection-number' ng-show="secondAnswer($index)"> 2 </span>
        </div>
    </span>
  </div>
</div>

<div id="info-container" ng-show="game.state === 'awaiting players'">
  <div id="inner-info">
    <h3 id="text-how-to-play" class="text-center pink-text">How To Play</h3>
    <div id="carousel-how-to-play-container" class="col-xs-12">
      <div id="carousel-how-to-play" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-how-to-play" data-slide-to="0" class="active" />
          <li data-target="#carousel-how-to-play" data-slide-to="1" />
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img class="center-block img-responsive" src="/img/placeholder-slide.png" alt="First slide" />
            <div class="carousel-caption">
              <h3>Step 1</h3>
              <p>Lorem ipsum</p>
            </div>
          </div>
          <div class="item">
            <img class="center-block img-responsive" src="/img/placeholder-slide.png" alt="Second slide" />
            <div class="carousel-caption">
              <h3>Step 2</h3>
              <p>Dolor sit.</p>
            </div>
          </div>
          <div class="item">
            <img class="center-block img-responsive" src="/img/placeholder-slide.png" alt="Second slide" />
            <div class="carousel-caption">
              <h3>Step 3</h3>
              <p>Amet sinqua.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control left" href="#carousel-how-to-play" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" />
        </a>
        <a class="carousel-control right" href="#carousel-how-to-play" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" />
        </a>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div id="game-end-container" ng-show="game.state === 'game ended' || game.state ==='game dissolved'">
  <div id="inner-info-exit">
    <div class="game-end-answer-text" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
      <h2>What would you like to do now?</h2>
      You might consider donating to charity to atone for the horrifying answers you've submitted. Donating will also place a lovely crown on your avatar's head.
    </div>
    <div class="game-end-answer-text" ng-show="game.state === 'game ended' || game.gameWinner !== -1">
      <h2>What would you like to do now?</h2>
      Help yourself to another game or help a child in need? Donating will also place a lovely crown on your avatar's head.
    </div>
    <div id='inner-text-container'>
      <a href='/#!/app'>
      <div id="join-new-game" ng-click="game.joinGame('joinNewGame')">
        Join a New Game
      </div></a>
      <a href='/'>
        <div id="exit-match">
        Return to Lobby
        </div>
      </a>
    </div>
  </div>

  <div id="charity-widget-container">
      <!-- This is real -->
      <a href="http://www.crowdrise.com" id="crowdriseStaticLink-fundraiser-121142" title="Fundraising Websites on Crowdrise">Fundraising Websites - Crowdrise</a>
      <script type="text/javascript" src="https://www.crowdrise.com/widgets/donate/fundraiser/121142/?callback=userDonationCb"></script>
  </div>
</div>
<div id="czar-blank-container" ng-show="isCzar() && game.table.length===0 && game.state !== 'game dissolved' && game.state !== 'awaiting players'">
  <div id="czar-blank-inner">
    You are the Card Czar. <br>
    <span id="smaller-text">Players are choosing their answers. Prepare to select a winner.</span>
  </div>
  <div id='charity-fact-container'>
    <div id='charity-fact-tagline'>Did you know?</div>

    <div id='charity-fact'>
       {{ makeAWishFact }}
    </div>

    <div id='charity-logo-container'>
      <img src='/img/make-a-wish-logo.png'/>
    </div>

  </div>
</div>
