</script>
<div id="app-container" ng-controller="GameController">
  <div id="menu-container">
    <div id="cfh-text-logo" ng-click="abandonGame()" class="white-text">
      <img src="/img/cards.png" class="cfh-img-logo"/>
      Cards&nbsp;
      f<span class="text-logo-icon pink-text">&hearts;</span>r&nbsp;
      Humanity
    </div>
    <div id="abandon-game-button" ng-click="abandonGame()">
      Abandon Game
    </div>
    <span id="tweet-container">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://cfh.io" data-text="Cards for Humanity: A Game for Horrible People Desperately Trying to do Good" data-related="CFH_App">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </span>
    <div class="clearfix"></div>
  </div>
  <div id="gameplay-container-outer" class="container-fluid">
    <div id="gameplay-container-inner" class="row row-full">
      <div id="left-gameplay-container" scroll="" hl-sticky="" class="col-xs-2" ng->
        <div id="timer-container" ng-show="game.state !== 'awaiting players'">
          <timer></timer>
        </div>
        <div id="players-container" class="scrollable-fixed-height">
          <player></player>
        </div>
      </div>
      <div id="main-gameplay-container" class="col-xs-10 dark-grey-bg">
        <div id="questions-container-outer" class="row row-full">
          <question></question>
        </div>
        <div id="answers-container-outer" class="row row-full">
          <answers></answers>
        </div>
        <div class="half-horizontal-whitespace"></div>
      </div>
      <div class="clearfix"></div>
    </div>
</div>
