<div id="container-fluid" ng-controller="IndexController">
  <header></header>
  <div class="full-page-section">
  <!--Played Games Modal-->
  <div id="playedGames">
    <div class="modal-dialog modal-lg">
      <div class="modal-content modal-container">
        <div class="modal-header">
          <h4 class="modal-title">Your Played Games</h4>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th>Date/Time</th>
                <th>Game Owner</th>
                <th>Players</th>
                <th>Rounds</th>
                <th>Winner</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="game in savedGames" ng-class-odd="'striped'">
                <td>{{game.date.slice(0, 10)}} / {{game.date.slice(11, -1)}}</td>
                <td>{{game.gameOwerName}}</td>
                <td><span ng-repeat="player in game.players">{{player.username}}<br></span></td>
                <td>{{game.rounds}}</td>
                <td>{{game.gameWinner}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!--LeaderBoard Modal-->
  <div id="leaderBoard">
    <div class="modal-dialog modal-lg">
      <div class="modal-content modal-container">
        <div class="modal-header">
          <h4 class="modal-title">Hall Of Fame</h4>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th>Date/Time</th>
                <th>Game Owner</th>
                <th>Players</th>
                <th>Rounds</th>
                <th>Winner</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="leader in leaderBoard" ng-class-odd="'striped'">
                <td>{{leader.date.slice(0, 10)}} / {{leader.date.slice(11, -1)}}</td>
                <td>{{leader.gameOwerName}}</td>
                <td><span ng-repeat="player in leader.players">{{player.username}}<br></span></td>
                <td>{{leader.rounds}}</td>
                <td>{{leader.gameWinner}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <!--Donations Modal-->
  <div id="donations">
    <div class="modal-dialog modal-lg">
      <div class="modal-content modal-container">
        <div class="modal-header">
          <h4 class="modal-title">Your Donations</h4>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th>Date/Time</th>
                <th>Amount</th>
                <th>Donation ID Number</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="donation in donations" ng-class-odd="'striped'">
                <td>{{donation.date.slice(0, 10)}} / {{donation.date.slice(11, -1)}}</td>
                <td>{{donation.amount}}</td>
                <td>{{game.donationID}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
