<div class="cfh-nav">
    <div class="cfh-nav-image">
      <img src="/img/cards.png">
    </div>
    <div class="cfh-nav-right">
      <span ng-hide="showOptions" class="ng-hide">
        <a ng-click="logout()"><button class="cfh-btn btn-pink">Sign Out</button></a>
      </span>
      <span ng-show="showOptions">
        <a ng-click="signUp()"><button class="cfh-btn btn-pink">Sign Up</button></a>
        <a ng-click="signIn()"><button class="cfh-btn btn-white">Login</button></a>
      </span>
      <a href="#team"><button class="cfh-btn btn-pink">Meet the team</button></a>
    </div>
  </div>