<div ng-repeat="player in game.players" class="text-center player-container dark-grey-bg">
  <div id ="above-czar-container">
    <div id="avatar_">
      <span ng-show="isPremium($index)">
        <img ng-src="img/king.png" id="king">
      </span>
      <img ng-src="{{player.avatar}}" class="img-responsive center-block"/>
    </div>
    <div id="player-container-inner">
      <div id="player-name">
        <h4>{{player.username | upperFirstLetter}}</h4>
      </div>
      <div id="player-score">
        <h2>{{getPlayerPosition(player)}}/{{game.players.length}}</h2>
      </div>
    </div>
  </div>
  <div id="czar-container" ng-show="currentCzar($index)" class="pink-bg">
    <span id='the-czar'>CZAR</span>
  </div>
</div>

