<div ng-repeat="player in game.players" class="text-center player-container dark-grey-bg">
  <div id ="above-czar-container">
    <div id="avatar_">
      <span ng-show="isPremium($index)">
        <img ng-src="img/king.png" id="king">
      </span>
      <img ng-src="{{player.avatar}}" class="img-responsive center-block"/>
    </div>
    <div id="player-container-inner">
      <div id="player-name">
        <h4>{{player.username | upperFirstLetter}}</h4>
      </div>
      <div id="player-position">
        <h4>{{getPlayerPosition(player)}}/{{game.players.length}}</h4>
      </div>
      <div id="player-score" ng-show="game.state !== 'awaiting players'">
        <h3>
          Score: 
          <span class="pink-text">{{player.points}}</span>
          /
          <span class="pink-text">{{game.pointLimit}}</span>
        </h3>
      </div>
    </div>
  </div>
  <div id="czar-container" ng-show="currentCzar($index)" class="pink-bg">
    <span id='the-czar'>CZAR</span>
  </div>
</div>
