<div id="question-container-inner">
  <div class="card longBlack">
    <span ng-bind-html="game.curQuestion.text" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'"></span>

    <div id="notifications" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">{{game.notification}}</div>

    <div id="startGame" ng-show="game.state === 'awaiting players'">
      <div id="finding-players">Finding players...</div>
      <div id="loading-gif-container">
        <img ng-src="../img/loader.gif" class="img-responsive center-block"/>
      </div>
      <div id="player-count-container" class="text-center">
        <span id="player-count" ><span class="pink-text">{{game.players.length}}</span> / <span class="pink-text">6</span> </span> <span id="the-word-players">players</span> found
      </div>
      <div id="start-game-btn-container" ng-click="startGame()" ng-show="(game.playerIndex === 0 || game.joinOverride) && game.players.length >= game.playerMinLimit" class="center-block">
        <button id="start-game-btn" class="btn btn-lg center-block">
          Start Game with {{game.players.length}} players
        </button>
      </div>
    </div>
    <!-- Game Over Stuff -->
    <div id="game-end-info">
      <div id="people-left-game-top" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <div class="game-end-headline">What the!? The game ended because too many people left! </div>
        Our sincere apologies.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
        <div class="game-end-headline">Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}}!</div>We hope you feel special. If you'd like to share that special feeling with the world, consider donating to charity. Or just horde it all for youself.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
        <div class="game-end-headline">Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!</div>
        That makes you a loser, unfortunately.
      </div>
    </div>
  </div>
</div>
