<div id="question-container-inner">
  <div class="card longBlack">
    <span ng-bind-html="game.curQuestion.text" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'"></span>

    <div id="notifications" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">{{game.notification}}</div>

    <!-- TODO: Perhaps do 'visibility: hidden' with ng-class for this section
     when #start-game-btn-container becomes visible? -->
    <div id="startGame" ng-show="game.state === 'awaiting players'">
      <div class="container">
        <div id="finding-players" class="col-xs-12">
          Waiting for more players... Please wait...
          <img ng-src="../img/loader.gif" class="inline"/>
        </div>
      </div>
      <div class="half-horizontal-whitespace"></div>
      <div id="player-count-container" class="text-center">
        <div class="center-block bg-info" id="player-count">
          <span class="pink-text">{{game.players.length}}</span> / <span class="pink-text">6</span> </span> <span id="the-word-players">players</span> found
        </div>
      </div>
      <div id="start-game-btn-container" ng-click="startGame()" ng-show="(game.playerIndex === 0 || game.joinOverride) && game.players.length >= game.playerMinLimit" class="center-block">
        <button id="start-game-btn" class="btn btn-lg center-block pink-bg">
          Start Game with {{game.players.length}} players
        </button>
      </div>
    </div>
    <!-- Game Over Stuff -->
    <div id="game-end-info">
      <div id="people-left-game-top" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <div class="game-end-headline">Oh no!? The game ended because too many people left! </div>
        Our sincere apologies.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
        <div class="game-end-headline">Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}}!</div>
        We hope you feel special. You really should. So, don't horde that 
        special feeling all to youself. Share that it with the world 
        by donating to charity!
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
        <div class="game-end-headline">
          Aw no, a disaster! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!
        </div>
        That makes you one of the losers. Sorry. :(
      </div>
    </div>
  </div>
</div>
