<div class="container" ng-controller="IndexController">

      <form class="form-signin form-horizontal" action="/users/session" method="post">
        <h2 class="form-signin-heading bg">Cards For Humanity Login</h2>
                <div class="checkbox">
          <label>
            Sign in with:
          </label>
        </div>
        
         <div class="btn-group">
  <a class="btn btn-default space" href="/auth/facebook">
    <i class="fa fa-facebook" title="Align Left"></i>
  </a>
  <a class="btn btn-default space" href="/auth/twitter">
    <i class="fa fa-twitter" title="Align Center"></i>
  </a>
  <a class="btn btn-default space" href="/auth/google">
    <i class="fa fa-google" title="Align Right"></i>
  </a>
  <a class="btn btn-default space" href="/auth/github">
    <i class="fa fa-github" title="Align Justify"></i>
  </a>
</div>
                <div class="checkbox">
          <label>
            Or Signin below:
          </label>
        </div>
                  <div class="sign-error" ng-show="showError() === 'invalid'">
            Please check your username/password and try again.
          </div>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input id="email" type="text" name="email" class="form-control" placeholder="Email" required novalidate />
        <label for="inputPassword" class="sr-only">Password</label>
        <input class="form-control" id="password" type="password" name="password" placeholder="Password" required novalidate />
        <div class="checkbox">
          <label>
            Not Registerd? Click <a href="/signup">HERE</a> to Signup
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>