<div landing id="container-fluid" ng-controller="IndexController">
  <div class="cfh-nav">
    <div class="cfh-nav-image" ng-show="global.authenticated">
      <img src="/img/cards.png" />
    </div>
    <div>
      <span ng-show="global.authenticated">
            <a href="/signout" ng-click="logout()"><button class="cfh-btn btn-pink">Sign Out</button></a>
            <a href="#!/team" class="cfh-team">Meet the team</a>
        </span>
      <span ng-hide="global.authenticated">
            <a href="#!/signup"><button class="cfh-btn btn-pink">Sign Up</button></a>
            <a href="#!/signin"><button class="cfh-btn btn-white">Login</button></a>
        </span>
    </div>
  </div>
  <div class="row cfh-explanation">
    <section class="col-sm-6">
      <div class="txt">
        <p>Awesome<br />Team <br/>Mifune</p>
        <h5> This project was done as our first project for Team Mifune. We encourage you to play and do not forget to give. have
          fun while playing.
        </h5>
        <div>
          <a href="#"><button class="cfh-btn2 btn-pink">Donate</button></a>
          <a href="#"><button class="cfh-btn2 btn-white">How to Play</button></a>
        </div>
      </div>
    </section>
    <section class="col-sm-6 team-container">
      <div id="carousel">
        <figure><img src="/img/folusho.jpeg" alt="..." class="img-circle team-img"></figure>
        <figure><img src="/img/Hope.jpeg" alt="..." class="img-circle team-img"></figure>
        <figure><img src="/img/Obinna.jpeg" alt="..." class="img-circle team-img"></figure>
        <figure><img src="/img/jude.jpeg" alt="..." class="img-circle team-img"></figure>
        <figure><img src="/img/cards.png" alt="..." class="img-circle team-img"></figure>
        <figure><img src="/img/cards.png" alt="..." class="img-circle team-img"></figure>
        <figure><img src="/img/cards.png" alt="..." class="img-circle team-img"></figure>
      </div>

    </section>
  </div>
</div>