<div id="team">
    <div class="row">
        <a href="/"><button class="cfh-btn2 btn-pink">Home</button></a>
    </div>
    <div class="row cfh-team-row">
        <div class="col-md-7">
            <ul id="categories" class="clr">

                <li class="pusher"></li>
                <li>
                    <div>
                        <img src="/img/folusho.jpeg" alt="" />
                        <h1>Folusho Oladipo</h1>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="/img/Precious.png" alt="" />
                        <h1>Precious Ijege</h1>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="img/chibujax.jpg" alt="" />
                        <h1>Uchendu Chibueze</h1>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="/img/Hope.jpg" alt="" />
                        <h1>Hope Ngerebara</h1>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="/img/jude.jpeg" alt="" />
                        <h1>Etanuwoma Jude </h1>
                    </div>
                </li>
                <li class="pusher"></li>
                <li>
                    <div>
                        <img src="img/ifiok.jpeg" alt="" />
                        <h1>Eyo Ifiok</h1>
                    </div>
                </li>

                <li>
                    <div>
                        <img src="/img/Obinna.jpeg" alt="" />
                        <h1>Nnenanya Obinna </h1>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-4 team-text">
            <div class="row txt">
                <h1>Team Mifune</h1>
            </div>
            <div class="row">
                <h5> This project was done as our first project for Team Mifune. We encourage you to play and do not forget to
                    <a href="/donate"><b>give</b></a>. Have fun while playing.
                </h5>
                <a href="#"><button class="cfh-btn2 btn-pink">Donate</button></a>
            </div>
        </div>
    </div>
</div>