.chatbox {
  width: 250px;
  position: fixed;
  background-color: #fff;
  border: 1px solid #fff;
  bottom: 10px;
  right: 10px;
  z-index: 998;
}
.chatbox .chat-header {
  background-color: #ff0e52;
  padding: 6px 15px;
  color: #fff;
}
.chatbox .chat-header h3 {
  display: inline-block;
  margin: 0;
}
.chatbox .chat-header .fa {
  float: right;
  font-size: 25px;
  cursor: pointer;
}
.chatbox .chat-header .fa-chevron-down {
  display: none;
}
.chatbox .chat-content {
  padding: 15px 5px;
  max-height: 350px;
  overflow: auto;
  display: none;
}
.chatbox .chat .chat-meta {
  display: block;
  margin-left: 5px;
  font-size: 14px;
}
.chatbox .chat .chat-meta img {
  float: left;
  width: 50px;
  margin-right: 15px;
}
.chatbox .chat .chat-message {
  display: inline-block;
  margin: 5px 0px 20px 20px;
  background-color: #e6e6e6;
  padding: 5px;
}
.chatbox .chat-header .fa-chevron-down,
.chatbox .chat-header .fa-chevron-up {
  float: right;
  font-size: 18px;
  cursor: pointer;
}
#chatNotification {
   font-size: 16px;
   color: #ff0e52;
   display: none;
 }
 
 #chatInner .emojioneemoji{
   width: 25px;
 }
 
 .chat-meta {
     text-transform: capitalize;
 }
 
 .send-message {
     padding-bottom: 5px;
 }
 
 .send-message button {
     padding: 2px 5px;
     margin: 0 5px;
 }
 
 .chatbox .chat-begin{
   font-size: 14px;
   color: #bbb;
   margin-bottom: 6px;
 }
.chatbox .chat-header .fa-chevron-down {
  display: none;
}
.chatbox .chat .chat-message {
  display: inline-block;
  margin: 5px 0px 20px 20px;
  background-color: #f9f9f9;
  padding: 5px;
}
