$main-font: "helvetica neue", helvetica, sans-serif;

$mq-mobile-portrait : 320px !default;
$mq-mobile-landscape : 520px !default;
$mq-tablet-portrait : 768px !default;
$mq-tablet-landscape : 1024px !default;
$mq-desktop: 1100px !default;
$mq-custom-wide : 1200px !default;

$color-background: #fff;
$site-deep-black: #252525;

$deep-gray: #303030;
$medium-gray: #959595;

.text-italic {
  font-style: italic;
}

.scrollable-fixed-height {
    overflow-y: scroll;
}

.horizontally-centered {
    margin: 0px auto;
}

.flexbox {
    display: flex;
}

.white-text {
    color: #ffffff;
}

.pink-text {
    color: #ff1a56;
}

.pink-bg {
    background-color: #ff1a56;
}

.dark-grey-bg {
    background-color: $deep-gray;
}

.light-pink-bg {
    background-color: #ffe8ee;
}

.white-bg {
    background-color: white;
}

.carousel-caption {
    background-color: rgba(240, 240, 240, 0.85);

    h3, p {
        color: $site-deep-black;
    }
}

.card-bg-img {
    background-repeat: no-repeat;
    background-position: center;
}

.card-icon {
    width: 100%;
    height: 15%;
}

.card-main-content {
    width: 100%;
    height: 69%;
}

.card-winning-answer {
    border: 5px solid #ff1a56;
}

.spade-on-white-bg {
    background-image: url(/img/icons/spade-shape-only.png);
}

.heart-on-white-bg {
    background-image: url(/img/icons/heart-shape-only.png);
}

.diamond-on-white-bg {
    background-image: url(/img/icons/diamond-shape-only.png);
}

.club-on-white-bg {
    background-image: url(/img/icons/club-shape-only.png);
}

.vertical-align-top {
    vertical-align: top;
}

.vertical-align-bottom {
    vertical-align: bottom;
}

.btns-container {
    display: inline-block;
    margin: 0.5em auto;
}

.pink-bg-btn {
    display: inline-block;
    background-color: #ff1a56;
    color: white;
    padding: 1em;
    margin-right: 0.5em;
}

.medium-gray-bg-btn {
    display: inline-block;
    background-color: $medium-gray;
    color: white;
    padding: 1em;
}

.discouraged-action-btn:hover {
    background:#F34444;
}

@mixin gradient-bg {
/* IE10 Consumer Preview */
background-image: -ms-linear-gradient(top left, #000 0%, #101010 100%);

/* Mozilla Firefox */
background-image: -moz-linear-gradient(top left, #000 0%, #101010 100%);

/* Opera */
background-image: -o-linear-gradient(top left, #000 0%, #101010 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #000), color-stop(1, #101010));

/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top left, #000 0%, #101010 100%);

/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to bottom right, #000 0%, #101010 100%);
}

// Both portrait and landscape
@mixin mobile-only {
    @media (max-width : $mq-mobile-landscape) {
        @content;
    }
}

// Everything up to and including the portrait width of the phone
// Since it's the smallest query it doesn't need a min
@mixin mobile-portrait-only {
    @media (max-width : $mq-mobile-portrait) {
        @content;
    }
}

// Everything up to and including the mobile portrait
@mixin mobile-portrait-and-below {
    @media (max-width : $mq-mobile-portrait) {
        @content;
    }
}

// Everything above and including the mobile portrait
@mixin mobile-portrait-and-up {
    @media (min-width : $mq-mobile-portrait) {
        @content;
    }
}

// Everthing larger than a portrait mobile up until mobile landscape
@mixin mobile-landscape-only {
    @media only screen and (min-width : $mq-mobile-portrait + 1) and (max-width : $mq-mobile-landscape) {
        @content;
    }
}

// Everything up to and including the mobile landscape width
@mixin mobile-landscape-and-below {
    @media only screen and (max-width : $mq-mobile-landscape) {
        @content;
    }
}

// Everything above and including the mobile landscape width
@mixin mobile-landscape-and-up {
    @media only screen and (min-width : $mq-mobile-portrait + 1) {
        @content;
    }
}

// Both the portrait and landscape width of the tablet
// Larger than a landscape mobile but less than or equal to a landscape tablet
@mixin tablet-only {
    @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-landscape) {
        @content;
    }
}

// Everything larger than mobile landscape up until the portrait width of the tablet
@mixin tablet-portrait-only {
    @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-portrait) {
        @content;
    }
}

// Everything below and including the portrait width of the tablet
@mixin tablet-portrait-and-below {
    @media only screen and (max-width : $mq-tablet-portrait) {
        @content;
    }
}

// Larger than portrait but less than or equal to the landscape width
@mixin tablet-landscape-only {
    @media only screen and (min-width : $mq-tablet-portrait + 1) and (max-width : $mq-tablet-landscape) {
        @content;
    }
}

// Up to and including the tablet landscape
@mixin tablet-landscape-and-below {
    @media only screen and (max-width : $mq-tablet-landscape) {
        @content;
    }
}

// Everything larger than a landscape tablet
@mixin desktop-and-below {
    @media only screen and (max-width : $mq-tablet-landscape + 1) {
        @content;
    }
}

@mixin custom-wide {
    @media only screen and (min-width : $mq-custom-wide + 1) {
        @content;
    }
}

@mixin br {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

@mixin br-bottom {
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

@mixin button {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fcfcfc), color-stop(1, #f0f0f0) );
    background: -moz-linear-gradient( center top, #fcfcfc 5%, #f0f0f0 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f0f0f0');
    background-color: #fcfcfc;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;
    text-indent: 0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-family: arial;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    height: 200px;
    line-height: 200px;
    width: 300px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #ffffff;
    margin-top: 15px;
    cursor: pointer;
}

@mixin button-hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0f0f0), color-stop(1, #ededed) );
    background: -moz-linear-gradient( center top, #f0f0f0 5%, #ededed 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ededed');
    background-color: #f0f0f0;
    color: #4e4e4e;
}


@mixin button-smaller {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f0f0f0');
    background-color: white;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;
    text-indent: 0;
    display: inline-block;
    color: #252525;
    font-size: 39px;
    font-weight: bold;
    font-style: normal;
    height: 100px;
    line-height: 100px;
    width: 200px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin: 5px auto;
    display: block;
}

@mixin button-hover-smaller {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0f0f0), color-stop(1, #ededed) );
    background: -moz-linear-gradient( center top, #f0f0f0 5%, #ededed 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ededed');
    background-color: #f0f0f0;
    color: #4e4e4e;
}

@mixin button-smallest {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fcfcfc), color-stop(1, #f0f0f0) );
    background: -moz-linear-gradient( center top, #fcfcfc 5%, #f0f0f0 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f0f0f0');
    background-color: #fcfcfc;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;
    text-indent: 0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-family: arial;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    height: 50px;
    line-height: 50px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #ffffff;
    cursor: pointer;
    margin: 5px auto;
    display: block;
}

@mixin button-hover-smallest {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0f0f0), color-stop(1, #ededed) );
    background: -moz-linear-gradient( center top, #f0f0f0 5%, #ededed 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ededed');
    background-color: #f0f0f0;
    color: #4e4e4e;
}

@mixin soft-button{
    text-align: center;
    position: relative;
    font-weight: bold;
    @include br;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f0f0f0');
    background-color: #D5D5D5;
    text-indent: 0;
    text-shadow: 1px 1px 0px #ffffff;
    cursor: pointer;
}

.card {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 17.5%;
    height: 215px;
    padding: 1%;
    margin: 1%;
    background-color: #fff;
    border-radius: 8px;
    color: $site-deep-black;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    vertical-align: top;

    @include mobile-only{
        font-size: 14px;
        height: 115px;
        word-wrap: break-word;
    }

    &.how-to {
        font-size: 1.4rem;
    }

    .selection-number {
        position: absolute;
        bottom: 1px;
        left: 7px;
        font-size: 18px;
    }

    &.black {
        background: #252525;
        border-color: white;
        color: white;
    }

    &.longBlack {
        background: $site-deep-black;
        border-color: white;
        color: white;
        width: 97.5%;
        height: 100%;
        padding-left: 2%;
        padding-right: 2%;
        background-color: inherit;
        color: white;
    }

    &.smallest {
        font-size: 0.750em;

        @include mobile-only{
            font-size: 10px; //play with later
        }
    }

    u {
        position: relative;
        content: '';
        display: inline-block;
        width: 25%;
        text-decoration: none;
        height: 1em;
        border-bottom: 0.125em solid white;
        margin-bottom: -0.125em;

        .small {
            width: 25%;
        }

        .big {
            width: 75%;
        }

        .end:after {
            position: absolute;
            right: -0.357em;
            display: inline-block;
            content: '.';
        }
    }
}

html, .main-container, .cont, #first-section, #inner-container{
    height: 100%;
}

html{
    @include gradient-bg;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;

    @include mobile-only{
        //margin: 3px;
        margin-top: 0px;
    }
}
body {
    .full-horizontal-whitespace {
      margin-bottom: 10%;
    }

    .half-horizontal-whitespace {
      margin-bottom: 5%;
    }

    .quarter-horizontal-whitespace {
      margin-bottom: 2.5%;
    }

    @include tablet-portrait-only {
        margin: 5px;
    }

    @include mobile-only{
        margin: 1px;
    }
}

.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:50px;
    width:70%
}


#main-container{
    height: 100%;

    .leave-game-btn {
        text-align: center;
        color: white;
        background: #959595;

        @include mobile-only {
            font-size: 0.7rem;
            margin-top: 5px;
            margin-right: 1px;
            padding: 5px;
            width: 60px;
        }
    }

    .leave-game-btn:hover{
        background:#F34444;
    }

    #tweet-container {
        float: right;
        padding-top: 17px;
        width: 77px;
        margin-right: 10px;

        @include mobile-only {
            float: right;
            padding-top: 6px;
            width: 55px;
            overflow: hidden;
            margin-right: 11px;
        }

        .hcount .count-o {
            display: none !important;
            width: 0 !important;
        }

        .count-0{
            width: 0 !important;
        }

        .count-ready .count-o {
            visibility: visible;
            visibility: hidden !important;
        }
    }
    #app-container {
        height: 100%;
        max-width: 1200px;
        margin: 0px auto;
        position: relative;


        #social-bar-container {
            width: 20%;
            height: 63%;
            position: absolute;
            right: 0;
            top: 60px;

            @include mobile-only {
                top: auto;
                width: 100%;
                height: 50px;
                position: relative;
                top: 0;
                left: 0;
            }
        }

        #gameplay-container-outer {
            color: white;

            #gameplay-container-inner {
                #left-gameplay-container {
                    #timer-container {
                        border: 2px solid #ff1a56;
                        border-radius: 5px;
                        margin-bottom: 1em;
                        min-height: 3em;
                        padding: 1em;

                        #timer-status-round {
                            font-size: 1.5em;
                            font-weight: bold;
                        }

                        #time {
                            color: #ff1a56;
                            font-size: 5em;
                        }
                    }
                    
                    #players-container {
                        height: 400px;
                        position: relative;

                        .player-container {
                            margin-bottom: 1em;
                            margin-right: 0.5em;
                            border: 1px solid #555555;

                            #czar-container {
                                padding: 1em;
                                background-color: #ff1a56;

                                #the-czar {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }

                #main-gameplay-container {
                    float: right;

                    #questions-container-outer {
                        border-bottom: 1px solid #ff1a56;
                    }

                    #start-game-btn, .pink-bg-btn {
                        background-color: #ff1a56;
                        color: white;
                        margin-bottom: 1em;
                        margin-top: 1em;
                    }

                    #answers-container-outer {
                        #info-container {
                            border-radius: 5px;
                            margin: 1em;
                            padding: 1em;

                            #inner-info {
                                ul li {
                                    list-style-type: circle;
                                }
                            }
                        }
                    }
                }
            }
        }    
    }
}

#notifications{

    @include tablet-portrait-only{
        font-size: 18px;
    }
    @include mobile-only{
        font-size: 15px;
    }
}

//Attempt to Modify our Charity Banner
.crDonateWidget {
    -webkit-box-shadow: 0px 0px 0px 0px transparent !important;
    -moz-box-shadow: 0px 0px 0px 0px transparent !important;
    box-shadow: 0px 0px 0px 0px transparent !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    border-radius: 8px !important;
}

.crDonateWidgetOuter {
    text-align: center;
    background-color: transparent !important;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0) !important;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0) !important;
    border: 0px solid #e6e6e6 !important;
    margin: 0px 0px !important;
}

.crDonated {
    margin-top: 2px !important;
}

.crImageAndTitle {
    display: none;
}

.crImageAndTitleOuter {
    display: none;
}

.startFundraiser {
    display: none;
}

#crDonateWidget_cfhio_cards4humanity{
    width: 90% !important;
    margin-top: 67px !important;

    .crDonateTriangle{
        right: 6px !important;
    }
    h4{
        margin-bottom: 8px !important;
    }
}

.gradientButton{
    width: 80% !important;
    margin-top: 8px !important;
    background: rgb(244,120,31) !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    border-radius: 8px !important;
    text-transform: none !important;
    .donateNow{
        border-top: 0px solid black !important;
    }
}
