.white-text {
  color: #ffffff; }

.pink-text {
  color: #ff1a56; }

.pink-bg {
  background-color: #ff1a56; }

.dark-grey-bg {
  background-color: #333; }

.card {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 17.5%;
  height: 215px;
  padding: 1%;
  margin: 1%;
  background-color: #fff;
  border-radius: 8px;
  color: #252525;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  vertical-align: top; }
  @media (max-width: 520px) {
    .card {
      font-size: 14px;
      height: 115px;
      word-wrap: break-word; } }
  .card.how-to {
    font-size: 1.4rem; }
  .card #selection-number {
    position: absolute;
    bottom: 1px;
    left: 7px;
    font-size: 18px; }
  .card.black {
    background-color: inherit;
    color: white; }
  .card.longBlack {
    background: #252525;
    border-color: white;
    color: white;
    width: 97.5%;
    height: 100%;
    width: 97.5%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: inherit;
    color: white; }
  .card.smallest {
    font-size: 0.750em; }
    @media (max-width: 520px) {
      .card.smallest {
        font-size: 10px; } }
  .card u {
    position: relative;
    content: '';
    display: inline-block;
    width: 25%;
    text-decoration: none;
    height: 1em;
    border-bottom: 0.125em solid white;
    margin-bottom: -0.125em; }
    .card u .small {
      width: 25%; }
    .card u .big {
      width: 75%; }
    .card u .end:after {
      position: absolute;
      right: -0.357em;
      display: inline-block;
      content: '.'; }

html, body, .main-container, .cont, #first-section, #inner-container {
  height: 100%; }

html {
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top left, #000 0%, #101010 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top left, #000 0%, #101010 100%);
  /* Opera */
  background-image: -o-linear-gradient(top left, #000 0%, #101010 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #000), color-stop(1, #101010));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top left, #000 0%, #101010 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom right, #000 0%, #101010 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative; }
  @media (max-width: 520px) {
    html {
      margin-top: 0px; } }

body {
  font-family: "helvetica neue", helvetica, sans-serif;
  background: transparent;
  margin: 10px; }
  body .full-horizontal-whitespace {
    margin-bottom: 10%; }
  body .half-horizontal-whitespace {
    margin-bottom: 5%; }
  body .quarter-horizontal-whitespace {
    margin-bottom: 2.5%; }
  @media only screen and (min-width: 521px) and (max-width: 768px) {
    body {
      margin: 5px; } }
  @media (max-width: 520px) {
    body {
      margin: 1px; } }

.navbar .nav > li > a.brand {
  padding-left: 20px;
  margin-left: 0; }

.content {
  margin-top: 50px;
  width: 70%; }

#main-container {
  height: 100%; }
  #main-container #app-container {
    height: 100%;
    max-width: 1200px;
    margin: 0px auto;
    position: relative; }
    #main-container #app-container #menu-container {
      width: 100%;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      background: #252525;
      margin-bottom: 10px;
      margin-top: 5px;
      padding: 5px; }
      @media (max-width: 520px) {
        #main-container #app-container #menu-container {
          margin-bottom: 1px;
          margin-top: 0px; } }
      #main-container #app-container #menu-container #logo {
        display: inline-block;
        color: #FFD1DD;
        margin-left: 10px;
        font-size: 28px;
        font-family: 'Lobster', cursive;
        cursor: pointer; }
        @media (max-width: 520px) {
          #main-container #app-container #menu-container #logo {
            font-size: 20px; } }
        #main-container #app-container #menu-container #logo #text-logo {
          color: #FFE8EE; }
      #main-container #app-container #menu-container #abandon-game-button {
        display: inline-block;
        float: right;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        font-size: 20px;
        font-size: 1.25rem;
        font-weight: 400;
        text-align: center;
        color: white;
        background: #959595;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        padding: 0.65em 20px;
        width: 140px;
        cursor: pointer; }
        @media (max-width: 520px) {
          #main-container #app-container #menu-container #abandon-game-button {
            font-size: 0.7rem;
            margin-top: 5px;
            margin-right: 1px;
            padding: 5px;
            width: 60px; } }
      #main-container #app-container #menu-container #abandon-game-button:hover {
        background: #F34444; }
      #main-container #app-container #menu-container #tweet-container {
        float: right;
        padding-top: 17px;
        width: 77px;
        margin-right: 10px; }
        @media (max-width: 520px) {
          #main-container #app-container #menu-container #tweet-container {
            float: right;
            padding-top: 6px;
            width: 55px;
            overflow: hidden;
            margin-right: 11px; } }
        #main-container #app-container #menu-container #tweet-container .hcount .count-o {
          display: none !important;
          width: 0 !important; }
        #main-container #app-container #menu-container #tweet-container .count-0 {
          width: 0 !important; }
        #main-container #app-container #menu-container #tweet-container .count-ready .count-o {
          visibility: visible;
          visibility: hidden !important; }
    #main-container #app-container #social-bar-container {
      width: 20%;
      height: 63%;
      position: absolute;
      right: 0;
      top: 60px; }
      @media (max-width: 520px) {
        #main-container #app-container #social-bar-container {
          top: auto;
          width: 100%;
          height: 50px;
          position: relative;
          top: 0;
          left: 0; } }
      #main-container #app-container #social-bar-container #player-container {
        height: 13.166667%;
        position: relative;
        padding-top: 4%;
        padding-bottom: 4%;
        min-height: 85px;
        background: #7CE4E8;
        margin: 0 0 6% 8%;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px; }
        @media (max-width: 520px) {
          #main-container #app-container #social-bar-container #player-container {
            min-height: 0;
            display: inline-block;
            margin: 0px .5%;
            width: 15.5%;
            height: 48px;
            padding-top: 1%;
            padding-bottom: 0; } }
        #main-container #app-container #social-bar-container #player-container #above-czar-container {
          height: 65%;
          width: 100%; }
          @media (max-width: 520px) {
            #main-container #app-container #social-bar-container #player-container #above-czar-container {
              height: 100%; } }
          #main-container #app-container #social-bar-container #player-container #above-czar-container #avatar_ {
            height: 100%;
            width: 38%;
            float: left;
            position: relative;
            z-index: 999; }
            #main-container #app-container #social-bar-container #player-container #above-czar-container #avatar_ #king {
              position: absolute;
              max-width: 80%;
              bottom: 20px;
              -webkit-transform: rotate(-18deg);
              left: -5px; }
              @media only screen and (min-width: 521px) and (max-width: 768px) {
                #main-container #app-container #social-bar-container #player-container #above-czar-container #avatar_ #king {
                  max-width: 80%;
                  bottom: 27px; } }
              @media (max-width: 520px) {
                #main-container #app-container #social-bar-container #player-container #above-czar-container #avatar_ #king {
                  max-width: 80%;
                  bottom: 31px;
                  left: -3px; } }
            #main-container #app-container #social-bar-container #player-container #above-czar-container #avatar_ img {
              width: 100%;
              height: 140%;
              float: left;
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              border-radius: 8px;
              min-width: 40px;
              min-height: 40px; }
              @media only screen and (min-width: 521px) and (max-width: 768px) {
                #main-container #app-container #social-bar-container #player-container #above-czar-container #avatar_ img {
                  width: 100%;
                  height: 100%;
                  margin-left: 3px; } }
              @media (max-width: 520px) {
                #main-container #app-container #social-bar-container #player-container #above-czar-container #avatar_ img {
                  height: 69%;
                  width: 100%;
                  min-height: 0;
                  min-width: 0;
                  margin: 0; } }
          #main-container #app-container #social-bar-container #player-container #above-czar-container #player-container-inner {
            float: left;
            position: relative;
            bottom: 8px;
            left: 2px;
            max-width: 62%;
            overflow: hidden; }
            @media only screen and (min-width: 521px) and (max-width: 768px) {
              #main-container #app-container #social-bar-container #player-container #above-czar-container #player-container-inner {
                left: 3px; } }
            @media (max-width: 520px) {
              #main-container #app-container #social-bar-container #player-container #above-czar-container #player-container-inner {
                bottom: 0;
                left: 0;
                height: 100%;
                width: 60%; } }
            #main-container #app-container #social-bar-container #player-container #above-czar-container #player-container-inner #player-name h4 {
              font-family: 'Lobster', cursive;
              margin-bottom: 0px; }
            @media only screen and (min-width: 521px) and (max-width: 768px) {
              #main-container #app-container #social-bar-container #player-container #above-czar-container #player-container-inner #player-name h4 {
                font-size: 14px; } }
            @media (max-width: 520px) {
              #main-container #app-container #social-bar-container #player-container #above-czar-container #player-container-inner #player-name h4 {
                font-family: 'Lobster', cursive;
                font-size: 10px;
                margin-top: 3px;
                margin-bottom: 5px; } }
            #main-container #app-container #social-bar-container #player-container #above-czar-container #player-container-inner #player-score {
              float: left; }
              #main-container #app-container #social-bar-container #player-container #above-czar-container #player-container-inner #player-score h2 {
                font-size: 26px;
                margin-top: 0;
                margin-bottom: 0; }
                @media only screen and (min-width: 521px) and (max-width: 768px) {
                  #main-container #app-container #social-bar-container #player-container #above-czar-container #player-container-inner #player-score h2 {
                    font-size: 21px; } }
                @media (max-width: 520px) {
                  #main-container #app-container #social-bar-container #player-container #above-czar-container #player-container-inner #player-score h2 {
                    font-size: 17px;
                    line-height: 40%; } }
            #main-container #app-container #social-bar-container #player-container #above-czar-container #player-container-inner #player-star {
              float: left;
              margin-top: 3px;
              margin-left: 10px; }
              @media only screen and (min-width: 521px) and (max-width: 768px) {
                #main-container #app-container #social-bar-container #player-container #above-czar-container #player-container-inner #player-star {
                  margin-top: 1px;
                  margin-left: 5px; } }
              @media (max-width: 520px) {
                #main-container #app-container #social-bar-container #player-container #above-czar-container #player-container-inner #player-star {
                  display: none; } }
              #main-container #app-container #social-bar-container #player-container #above-czar-container #player-container-inner #player-star img {
                width: 22px; }
                @media only screen and (min-width: 521px) and (max-width: 768px) {
                  #main-container #app-container #social-bar-container #player-container #above-czar-container #player-container-inner #player-star img {
                    width: 18px; } }
        #main-container #app-container #social-bar-container #player-container #czar-container {
          position: absolute;
          bottom: 0;
          text-align: center;
          width: 100%;
          -webkit-border-bottom-right-radius: 8px;
          -webkit-border-bottom-left-radius: 8px;
          -moz-border-radius-bottomright: 8px;
          -moz-border-radius-bottomleft: 8px;
          border-bottom-right-radius: 8px;
          border-bottom-left-radius: 8px;
          background: black;
          opacity: 0.4; }
          @media (max-width: 520px) {
            #main-container #app-container #social-bar-container #player-container #czar-container {
              overflow: auto; } }
          #main-container #app-container #social-bar-container #player-container #czar-container #the-czar {
            color: #fff;
            font-weight: bold;
            font-size: 20px; }
            @media (max-width: 520px) {
              #main-container #app-container #social-bar-container #player-container #czar-container #the-czar {
                display: none; } }
    #main-container #app-container #gameplay-container-outer {
      color: white; }
      #main-container #app-container #gameplay-container-outer #gameplay-container-inner #left-gameplay-container #timer-container {
        border: 2px solid #ff1a56;
        border-radius: 5px;
        margin-bottom: 1em;
        min-height: 3em;
        padding: 1em; }
        #main-container #app-container #gameplay-container-outer #gameplay-container-inner #left-gameplay-container #timer-container #timer-status-round {
          font-size: 1.5em;
          font-weight: bold; }
        #main-container #app-container #gameplay-container-outer #gameplay-container-inner #left-gameplay-container #timer-container #time {
          color: #ff1a56;
          font-size: 5em; }
      #main-container #app-container #gameplay-container-outer #gameplay-container-inner #left-gameplay-container #players-container .player-container {
        margin-bottom: 1em;
        border: 1px solid #555555; }
        #main-container #app-container #gameplay-container-outer #gameplay-container-inner #left-gameplay-container #players-container .player-container #czar-container {
          padding: 1em; }
          #main-container #app-container #gameplay-container-outer #gameplay-container-inner #left-gameplay-container #players-container .player-container #czar-container #the-czar {
            font-weight: bold; }
      #main-container #app-container #gameplay-container-outer #gameplay-container-inner #main-gameplay-container #questions-container-outer {
        border-bottom: 1px solid #ff1a56; }
      #main-container #app-container #gameplay-container-outer #gameplay-container-inner #main-gameplay-container #start-game-btn {
        background-color: #ff1a56;
        color: white;
        margin-bottom: 1em;
        margin-top: 1em; }
      #main-container #app-container #gameplay-container-outer #gameplay-container-inner #main-gameplay-container #answers-container-outer #info-container {
        background-color: #252525;
        border-radius: 5px;
        margin: 1em;
        padding: 1em; }
        #main-container #app-container #gameplay-container-outer #gameplay-container-inner #main-gameplay-container #answers-container-outer #info-container #inner-info ul li {
          list-style-type: circle; }

@media only screen and (min-width: 521px) and (max-width: 768px) {
  #notifications {
    font-size: 18px; } }

@media (max-width: 520px) {
  #notifications {
    font-size: 15px; } }

.crDonateWidget {
  -webkit-box-shadow: 0px 0px 0px 0px transparent !important;
  -moz-box-shadow: 0px 0px 0px 0px transparent !important;
  box-shadow: 0px 0px 0px 0px transparent !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  border-radius: 8px !important; }

.crDonateWidgetOuter {
  text-align: center;
  background-color: transparent !important;
  -webkit-box-shadow: 0px 0px 0px 0px transparent !important;
  box-shadow: 0px 0px 0px 0px transparent !important;
  border: 0px solid #e6e6e6 !important;
  margin: 0px 0px !important; }

.crDonated {
  margin-top: 2px !important; }

.crImageAndTitle {
  display: none; }

.crImageAndTitleOuter {
  display: none; }

.startFundraiser {
  display: none; }

#crDonateWidget_cfhio_cards4humanity {
  width: 90% !important;
  margin-top: 67px !important; }
  #crDonateWidget_cfhio_cards4humanity .crDonateTriangle {
    right: 6px !important; }
  #crDonateWidget_cfhio_cards4humanity h4 {
    margin-bottom: 8px !important; }

.gradientButton {
  width: 80% !important;
  margin-top: 8px !important;
  background: #f4781f !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  border-radius: 8px !important;
  text-transform: none !important; }
  .gradientButton .donateNow {
    border-top: 0px solid black !important; }
