body {
    background-color: #24282e;
    font-family: 'Open Sans', sans-serif;
}

.donate {
    color: #FFF;
    text-align: center;
}

.donate-txt {
    font-size: 16px;
    padding: 0 10%;
    line-height: 25px;
}
.donate-header {
    padding: 20px 0 60px 0;
}
.btn-donate{
    padding: 15px 40px;
    width: auto;
    margin:0;
}

.donate-cta {
    padding: 50px 0;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.donate-cta > img {
    margin: 0 30px;
}
.donate-header > p {
    font-size: 16px;
}


.donate-header > h1 {
    font-size: 42px;
    margin-bottom: 20px;
}


